* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex; 
    /* flex-direction: column; */
    background-color: #f4f4f4;
    /* always on main axis
    justify-content: space-between; */
    /*always on cross axis*/
    /* align-items: center;  */
}

/*if boxes are stacked on top of each other, main axis is up and down. cross axis is side to side. */

.item {
    flex: 1 ; 
    width: 100px; 
    height: 100px; 
    background-color: #254de4;
    color: white; 
    margin: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    /*a flex item can also be a flex container*/
}

.item:nth-of-type(1){

}


.item:nth-of-type(2){

}

.item:nth-of-type(3){

}
