/*This is the styling for Beauty Landing Page since the formating is quite different from the other pages*/

/*Poppins font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*Monserrat font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Style to ALL */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Header Styling*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
}

/*Format to logo*/
.logo img {
  height: 3em;
}

/*Styling for opening and closing sidebar*/
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;  
}

/*Styling for main items on page*/
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

/*Shifts the all content to the right when sidebar is open*/
.showcase.active
{
  right: 300px;
}

/*Sets video position and style*/
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

/*styling for container with all social media icons*/
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Styling for each individual icon*/
.social li
{
  list-style: none;
}

/*Animation when you click on icons*/
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

/*Sidebar Stlying*/
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**/
.menu ul{
  position: relative;
}

/*Gets rid of bullet points*/
.menu ul li{
  list-style: none;
}

/*text formating in sidebar when mouse is NOT hovering*/
.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

/*chamges colour when mouse hovers over sidebar items*/
.menu ul li a:hover
{
  color: goldenrod; 
}

/*font style*/
.text{
  position: relative;
  z-index: 10;
}

/*h2 style*/
.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

/*h3 style*/
.text h3{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

/*paragraph style*/
.text p{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

/*formating for links*/
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

/*Spareds out "Explore" text when mouse is on it*/
.text a:hover
{
  letter-spacing: 6px;
}

/*Media query*/
@media (max-width: 798px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }

  .text h2
  {
    font-size: 3em;
  }

  .text h3
  {
    font-size: 2em;
  }

  .text{
    align-items: center;
  }
}


