/*

*{
    ^^the asterisk means for everthing
        margin:0px;
    
    

}
*/

/* "a" elements related to links*/

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color:green; 
}

a:visted{
    color: black; 
}

body{
    background-color:#f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;

    /*same as above
    font: normal 16px  Arial, Helvetica, san-serif;
*/
    line-height: 1.6em;
    margin:0;

}

.container{
    width:80%;
    margin:auto;
}

.button{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border:none;
}

.button:hover{
    background-color: cornflowerblue;
    color:#fff;
}

.clr{
    clear:both;
    /*clears floats above it*/
}

.box-1{
    background-color:#333;
    border: 5px red solid;
    border-width: 3px;
    padding: 20px;
    margin: 20px 0;
}

.box-1 h1{
    /*for all h1 in box1*/
    font-family: Tahoma; 
    font-weight: 800;
    font-style: italic; 
    text-decoration:underline; 
    text-transform:uppercase; 
    letter-spacing: 0.2em; 
    word-spacing: 1em;
}

 .box-2{
     border: 3px dotted #ccc; 
     padding:20px; 
     margin: 20px 0px;
 }

 .categories{
    border:1px #ccc solid; 
    padding:10px; 
    border-radius: 15px; 
    
 }
 .categories h2{
   text-align: center;
 }


/*ul = unordered lists*/
 .categories ul{
   padding:0; 
   padding-left: 20px;
   list-style: square;
   list-style: none;
  }

  /*for each line/element in the list*/
  .categories li{
      padding-bottom:8px;
      border-bottom: dotted 1px #333;
      list-style-image: url('../images/check.png');
  }

.myform{
    padding:20px; 

}

/*to seperate each line in the form section*/
.myform .form-group{
    padding-bottom: 15px;

}

/*block are on their own line so this would put the labels seperate from each box*/
.myform label{
    display:block;
}

/*added in the type = text so that the submit button would not be affected
added in .myform textarea so that this formating would ALSO apply to the text area*/
.myform input[type="text"], .my-form textarea{
    padding:8px; 
    width:100%;
}

.block{
    float:left; 
    width: 33.3%;
    border: 1px solid #ccc; 
    padding:10px;
    box-sizing:border-box;
    /*border-box -> takes in padding and border and counts it towards width*/
}

/*id's use # sign*/
#main-block{
    float:left; 
    width:70%;
}

#sidebar{
    float:right;
    width:30%;
    background-color:#333; 
    color: #fff; 
    padding:15px; 
    box-sizing: border-box;

}

.p-box{
    width:800px;
    height:500px; 
    border:1px solid #000;
    margin-top:30px;
    position:relative;
    background-image:url('../images/bg.jpg'); 
    background-position:100px 200px;
    /*^^shifts right 100 and down 200*/

    background-repeat: no-repeat;
    background-position: center center;
    /*centers in x and y*/
}

/*if we didn't have the postion:relative in the section above,
the section below would not work because it would be 40px from the 
top of the page and NOT 40px down from the top of p-box*/

.p-box h1{
    position:absolute;
    top:100px;
    left:200px;
}

.p-box h2{
    position:absolute; 
    bottom:40px; 
    right: 100px;;
}

.fix-me{
    position:fixed; 
    top:400px;
}

/*first child refers to the 
first thing in the ul list*/
.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background: rgb(108, 160, 106);
}

/*to target a certain number in the list...
in brackets put which number u want. In this case, 
assume we want the 5th item*/
.my-list li:nth-child(5){

    background: blue;
}

/*even and odd with nth child*/

.my-list li:nth-child(even){
    background: turquoise;
}

.my-list li:nth-child(odd){
    background: orange;
}


